body{
    background: url(Rectangle-1441.png);
    background-image: center;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
    height: 1084px;
    margin: 0;
    padding-bottom: 5000px;
    width: 100%;

    }
    .Firstpage{
        font-size: 50px;
        margin-top: 200px;
        margin-left: -1300px;
        color: white;
    }
    .p{
        font-size: 30px;
        color: white;
        margin-left: -1240px;
        margin-top: -50px;
    
    }
    .simple-navbar {
    padding: 10px;
    position:static; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    z-index: 1000;
    font-size: 25px;
}
.p1{
    font-size: 30px;
    color: white;
    margin-left: -3040px;
    margin-top: 0px;
    display: grid;

}


.simple-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.simple-navbar ul li {
    margin-left: 100px;
    width: 110px;
}

.simple-navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    transition: color 0.3s;
}


.simple-navbar ul li a:hover{
    color: #ff6347; 
}


.logo {
    margin-left: 505px;
    padding-right: 20px;
}

.logo img {
    height: 30px; 
    width: auto;
    display: block;
    margin-left: -135px;
}
.image-logo2{
    margin-left: -1700px;
    margin-top: -40px;
}
.image-logo3{
    margin-left: 1715px;
    margin-top: -25px;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3%; 
}

.search-bar input {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    background-color: rgba(255, 255, 255, 0.5); 
    color: #333; 
    border-radius: 25px; 
    outline: none; 
    font-size: 1em;
    width: 300px; 
    transition: background-color 0.3s, border 0.3s;
    text-align: center; 
}


.search-bar input:focus {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(0, 0, 0, 0.5); 
    color: black; 
}


.search-bar input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.img-search{
    width: 30px;
    height: 30px;
    margin-top: 480px;
    margin-left: -860px;
}
.decoration-image{
    position: relative
}
.circle1{
    margin-top: 450px;
    margin-left: 130px;
}
.circle2{
    margin-left: 1650px;
    margin-bottom: -90px;
}
.circle3{
    margin-left: 310px;
    margin-top: -500px;
}
.circle4{
    margin-left: 630px;
}
.no-border {
    border-collapse: collapse; 
    width: 40%;
    margin-left: 45%;
    top: 450px;
    position: relative;
    top: 700px;
    display: flex;
    float: left;
     
}

.no-border th, .no-border td {
    border: none; 
    padding: 5px; 
    text-align: left;
    font-size: 20px;
}

.Table{
    position: relative;
    margin-top: -300px;
    margin-left: -150px;

}
tr:nth-child(3){
    color: orange;
}
.Titre{
    display: inline-block;
    vertical-align: top;
    margin-left: 350px;
    top: 700px;
    font-size: 40px;
    left: -150px;
}
h2
{
    position: absolute;
    top: 742px;
    left: 180px;
    display: flex ;
    flex-wrap: wrap;
    font-size: 40px;
}
h3 {
    position: relative;
    font-size: 36px;
    color: #333;
    text-align: center;
    font-weight: bold;
    top: 1000px;
    right: 700px;
    font-size: 40px;
    right: 800px;
    white-space: nowrap;
}
.bouton-groupe{
    display: flex;
    background-color: rgb(240, 236, 236);
    border-radius: 20px;
    padding: 5px;
    gap: 10px;
    margin-top: 1000px;
    margin-left: 795px;
    position:absolute

    
    
}
.bouton{
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 400;
    color: black;
    cursor:pointer
}
.bouton.actif{
    background-color: white;
    color: black;
    box-shadow:0 0 10px rgba(0,0,0,0.1)
}
.img1{
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    position: absolute;
    margin-top: 1100px;
    margin-left: 250px;
    
}
.img2{
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    position:absolute;
    margin-top: 1100px;
    margin-left: 600px;
}
.img3{
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    position: absolute;
    margin-top: 1100px;
    margin-left: 1030px;
}
.img4{
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    position: absolute;
    margin-top: 1110px;
    margin-left: 1380px;
}

.product-container {
    display: flex;
    flex-wrap: nowrap; 
    gap: 15px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    margin-top: 850px;
    margin-left: 0px;
    background-color: #f2f2f2; 
    padding: 400px;
    height: 300px;
  }
  
  .product-container::-webkit-scrollbar {
    display: none; 
  }
  
  
  .product-card {
    background-color: white;
    border-radius: 12px; 
    padding: 100px; 
    width: 150px; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif;
    position: relative;
    text-align: left;
    height: 100px;
    margin-top: 250px;
    left: -150px;

  }
  
.right-arrow {
    background-color: #FFFFFF;
    color: #333333;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: -50px;
    left: 310px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin: 0 20px;

}
.left-arrow {
    background-color: #FFFFFF;
    color: #333333;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: -50px;
    left: -1135px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin: 0 20px;

}
  
  
  .category {
    font-size: 12px; 
    color: #888;
    margin: 0;
    margin-top: -45px;
    margin-left: -45px;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0 4px 0;
    color: #333333; 
    margin-top: -1000px;
    margin-left: 754px;
  }
  
  .rating {
    font-size: 14px;
    color: #ffaa22;
    margin-top: 1000px;
    margin-left: -45px;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 140px;
    margin-left: -50px;
  }
  
  .add-to-cart {
    background-color: #002244;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 10px;
  }
  .view-all {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #FFA500; 
    font-size: 18px;
    margin-top: 100px;
    margin-left: 580px;
    width: 100px;
    }

    .view-all:hover .arrow {
        transform: translateX(5px); 
    }
.image-container {
    position: relative;
    width: 600px;
    height: 450px;
}

.background-gray {
    position: absolute;
    top: -900px;
    left: 330px;
    width: 95%;
    height: 85%;
    background-color: rgba(232, 238, 236, 0.683); 
    border-radius: 20px; 
    z-index: 1;
    margin-top: 1000px;
}
.background-gray2 {
    position: absolute;
    top: -900px;
    left: -10px;
    width: 100%;
    height: 50%;
    background-color: rgba(232, 238, 236, 0.683); 
    border-radius: 20px; 
    z-index: 1;
    margin-top: 850px;
    margin-left: -50px;
}

.image-overlay {
    position: absolute;
    top: 100px;
    left: -10px;
    width: 140%;
    height: 120%;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    margin-top: -100px;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.subtitle {
    color: orange ;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 140px;
    text-transform: uppercase;
    margin-top: 300px;
    margin-left: 1000px;
    width: 500px;
    height: 500px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 1000px;
    width: 450px;
    height: 100px;
    margin-top: -550px;
}


.description {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 120px;
    margin-left: 1000px;
    width: 450px;
    height: 100px;
    
}
.more-info {
    color: #f6a919; 
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-left: 1000px;
   width: 500px;
   height: 500px;
   margin-top: -200px;
}


.arrow {
    margin-left: 8px;
    transition: transform 0.2s ease;
}

.more-info:hover .arrow {
    transform: translateX(5px); 
}
.image-container2 {
    position: relative;
    width: 200px; 
    height: 100px;
    margin-left: 1000px;
    margin-top: -800px;

}
image-overlay2 {
    position: absolute;
    width: 95%;
    height: 90%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: -1000px; 
}
.background-image2 {
    width: 300px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: -50px;
    margin-left: -50px;
}

.subtitle2 {
    color: orange ;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 300px;
    width: 500px;
    height: 500px;
}

.title2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 125px;
    margin-left: 300px;
    width: 450px;
    height: 100px;
    margin-top: -450px;
}


.description2 {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 50px;
    margin-left: 300px;
    width: 450px;
    height: 100px;
    
}

.more-info2 {
    color: #f6a919; 
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-left: 300px;
   width: 500px;
   height: 500px;
   margin-top: -200px;
}
.more-info2:hover .arrow {
    transform: translateX(5px); }



.image-container3 {
    position: relative;
    width: 250px; 
    height: 500px;
    margin-left: 1000px;
    margin-top: 30px;

}
image-overlay3 {
    position: relative;
    width: 100%;
    height: 120%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.background-image3 {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: -100px;
}
.image-container4{
    position: absolute;
    width: 100px;
    height: 500px;
    margin-left: 1000px;
    margin-top: 200px;


}
.image-overlay4{
    position: absolute;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    top: -750px;
    margin-left: 240px


}
.background-image4 {
    width: 800px;
    height: 600px;
    border-radius: 20px;
    margin-left: -100px;
    
}
.background-gray5 {
    position: absolute;
    top: -850px;
    left: 100px;
    width: 80%;
    height: 120%;
    background-color: rgba(229, 232, 231, 0.922); 
    border-radius: 20px; 
    margin-top: 1600px;
    margin-left: 1340px;

}
.title3{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 1000px;
    width: 450px;
    height: 100px;
    margin-top: 420px;
    margin-left: 850px;
    color: #fcae1f;
    letter-spacing: 2px;
}
.subtitle3{
    color: black;
    font-size: 18px;
    margin-left:-90px;
}

.img10{
    margin-left: 80px;
    margin-top: 50px;
    width: 500px;
    height: 600px;
    position: absolute;

}
.img11{
    margin-left: 350px;
    margin-top: 50px;
    width: 500px;
    height: 600px;
    position: absolute;

}
.img12{
    margin-left: 620px;
    margin-top: 50px;
    width: 500px;
    height: 600px;
    position: absolute;
    
}
.img13{
    margin-left: 90px;
    margin-top: 160px;
    width: 450px;
    height: 350px;
    position: absolute;

}
.img14{
    margin-left: 365px;
    margin-top: 160px;
    width: 450px;
    height: 350px;
    position: absolute;
}
.img15{
    margin-left: 635px;
    margin-top: 160px;
    width: 450px;
    height: 350px;
    position: absolute;

}

.arrow-button2 i{
    font-size: 24px;
    color: black;
    top: 350px;
    margin-left: 1730px;
    position: relative;
}
.arrow-button1 i{
    font-size: 24px;
    color: black;
    top: 280px;
    margin-left: 145px;
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #f1f1f1;
    color: #333;
    margin-top: 2300px;
}


.footer-column {
    width: 20%;
}


.footer-column h3 {
    color: #FF7A00;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -1010px;
    margin-left: 900px;
}


.footer-column p,
.footer-column ul {
    font-size: 14px;
    color: #666;
    margin-top: 1050px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin-left: 100px;
}

.footer-column ul li {
    margin-bottom: 8px;
}


.footer-column ul li a {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: rgb(255, 122, 0);
}


.text-orange {
    color: rgb(255, 122, 0);
}


.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom8 {
    margin-bottom: 8px;
}
